Pre-Lecture HOMEWORK Question 1: Pick one of the datasets from the ChatBot session(s) of the TUT demo (or from your own ChatBot session if you wish) and use the code produced through the ChatBot interactions to import the data and confirm that the dataset has missing values

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

Pre-Lecture HOMEWORK Question 2: Start a new ChatBot session with an initial prompt introducing the dataset you're using and request help to determine how many columns and rows of data a pandas DataFrame has, and then

In [3]:
data = pd.read_csv(url)

In [4]:
num_rows, num_columns = data.shape
print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 391
Number of columns: 11

OBSERVATION: observations are the individual data entries of my data set. ie. the individual names of each animal crossing character
VARIBALES: variables are like bags that hold/describe each observation within my dataset. ie. the column 'name' holds each name of the animal crossing characters

Pre-Lecture HOMEWORK Question 3:Ask the ChatBot how you can provide simple summaries of the columns in the dataset and use the suggested code to provide these summaries for your dataset

In [11]:
summary = df.describe()
print(summary)

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [10]:
summary1 = data.describe()
print(data.describe)

<bound method NDFrame.describe of      row_n        id      name  gender    species birthday personality  \
0        2   admiral   Admiral    male       bird     1-27      cranky
1        3   agent-s   Agent S  female   squirrel      7-2       peppy
2        4     agnes     Agnes  female        pig     4-21        uchi
3        6        al        Al    male    gorilla    10-18        lazy
4        7   alfonso   Alfonso    male  alligator      6-9        lazy
..     ...       ...       ...     ...        ...      ...         ...
386    475    winnie    Winnie  female      horse     1-31       peppy
387    477  wolfgang  Wolfgang    male       wolf    11-25      cranky
388    480      yuka      Yuka  female      koala     7-20      snooty
389    481      zell      Zell    male       deer      6-7        smug
390    483    zucker    Zucker    male    octopus      3-8        lazy

                song    phrase            full_id  \
0         Steep Hill   aye aye   villager-admiral
1            DJ K.K.  sidekick   villager-agent-s
2         K.K. House   snuffle     villager-agnes
3         Steep Hill   Ayyeeee        villager-al
4        Forest Life  it'sa me   villager-alfonso
..               ...       ...                ...
386         My Place    hay-OK    villager-winnie
387        K.K. Song   snarrrl  villager-wolfgang
388     Soulful K.K.   tsk tsk      villager-yuka
389         K.K. D&B     pronk      villager-zell
390  Spring Blossoms     bloop    villager-zucker

                                                   url
0    https://villagerdb.com/images/villagers/thumb/...
1    https://villagerdb.com/images/villagers/thumb/...
2    https://villagerdb.com/images/villagers/thumb/...
3    https://villagerdb.com/images/villagers/thumb/...
4    https://villagerdb.com/images/villagers/thumb/...
..                                                 ...
386  https://villagerdb.com/images/villagers/thumb/...
387  https://villagerdb.com/images/villagers/thumb/...
388  https://villagerdb.com/images/villagers/thumb/...
389  https://villagerdb.com/images/villagers/thumb/...
390  https://villagerdb.com/images/villagers/thumb/...

[391 rows x 11 columns]>

In [9]:
personality_counts = df['personality'].value_counts()
print(personality_counts)

personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [13]:
non_numerical_variables = data.select_dtypes(exclude='number')
print(non_numerical_variables)

           id      name  gender    species birthday personality  \
0     admiral   Admiral    male       bird     1-27      cranky
1     agent-s   Agent S  female   squirrel      7-2       peppy
2       agnes     Agnes  female        pig     4-21        uchi
3          al        Al    male    gorilla    10-18        lazy
4     alfonso   Alfonso    male  alligator      6-9        lazy
..        ...       ...     ...        ...      ...         ...
386    winnie    Winnie  female      horse     1-31       peppy
387  wolfgang  Wolfgang    male       wolf    11-25      cranky
388      yuka      Yuka  female      koala     7-20      snooty
389      zell      Zell    male       deer      6-7        smug
390    zucker    Zucker    male    octopus      3-8        lazy

                song    phrase            full_id  \
0         Steep Hill   aye aye   villager-admiral
1            DJ K.K.  sidekick   villager-agent-s
2         K.K. House   snuffle     villager-agnes
3         Steep Hill   Ayyeeee        villager-al
4        Forest Life  it'sa me   villager-alfonso
..               ...       ...                ...
386         My Place    hay-OK    villager-winnie
387        K.K. Song   snarrrl  villager-wolfgang
388     Soulful K.K.   tsk tsk      villager-yuka
389         K.K. D&B     pronk      villager-zell
390  Spring Blossoms     bloop    villager-zucker

                                                   url
0    https://villagerdb.com/images/villagers/thumb/...
1    https://villagerdb.com/images/villagers/thumb/...
2    https://villagerdb.com/images/villagers/thumb/...
3    https://villagerdb.com/images/villagers/thumb/...
4    https://villagerdb.com/images/villagers/thumb/...
..                                                 ...
386  https://villagerdb.com/images/villagers/thumb/...
387  https://villagerdb.com/images/villagers/thumb/...
388  https://villagerdb.com/images/villagers/thumb/...
389  https://villagerdb.com/images/villagers/thumb/...
390  https://villagerdb.com/images/villagers/thumb/...

[391 rows x 10 columns]

In [15]:
print(non_numerical_variables.columns.tolist())

['id', 'name', 'gender', 'species', 'birthday', 'personality', 'song', 'phrase', 'full_id', 'url']

In [22]:
missing_values = data.select_dtypes(include='number').isnull().sum()

In [24]:
print(missing_values[missing_values>0])

Series([], dtype: int64)

4. If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, explain (perhaps using help from a ChatBot if needed) the discrepancies between size of the dataset given by df.shape and what is reported by df.describe() with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" column

In [32]:
import pandas as pd
new_data_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
data = pd.read_csv(new_data_url)

In [33]:
non_numerical_vars = data.select_dtypes(exclude='number')

In [34]:
print("Non-Numerical Variables:")
print(non_numerical_vars.columns.tolist())

Non-Numerical Variables:
['sex', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

In [35]:
missing_new_values = data.select_dtypes(include='number').isnull().sum()

In [36]:
print("New_Missing_Values:")
print(missing_new_values)

New_Missing_Values:
survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [37]:
shape = df.shape

In [41]:
print(f'the dataset has {shape[0]} rows and {shape[1]}columns.')

the dataset has 891 rows and 15columns.

In [49]:
summary_titanic = df.describe()

In [46]:
print(summary_titanic)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

SUMMARY OF PRELECTURE HW - chatbot
1.Dataset Overview: You asked about the Animal Crossing characters dataset and how to find the number of rows and columns in it using pandas.

2.Observations and Variables: We discussed the concepts of observations (individual records/rows) and variables (attributes/columns) in a dataset.

3.Pandas DataFrame: I explained what a pandas DataFrame is, highlighting its tabular structure, indexing, and functionalities for data manipulation.

4.Summarizing Data: You inquired about how to provide simple summaries of columns, and I suggested using df.describe() for statistical summaries and value_counts() for unique counts in specific columns.

5.Error Explanation: You encountered the error AttributeError: 'DataFrame' object has no attribute 'split', and I explained that this occurs when attempting to use a string method on a DataFrame instead of a Series or string.

6.Output Interpretation: We discussed the meaning of Series([], dtype: int64), indicating an empty Series, and how to find non-numerical variables and missing values in a dataset.

7.Replacing Datasets: I showed how to replace an old dataset with a new one by loading it into the same variable.

8.Understanding df.shape and df.describe(): We clarified the differences between these two, focusing on the number of columns analyzed and the values reported in the 'count' column.

9.Attributes vs. Methods: Finally, I explained the difference between attributes (variables associated with an object) and methods (functions defined within a class that operate on the object).

Post-Lecure HW Question 6: The df.describe() method provides the 'count', 'mean', 'std', 'min', '25%', '50%', '75%', and 'max' summary statistics for each variable it analyzes. Give the definitions (perhaps using help from the ChatBot if needed) of each of these summary statistics

count: the number of non-null entries
mean: the average value
std: the standard deviation, indicating variability/spread of your data set
min: the minimum value within your data set
25%: the value that falls beneath the 25th percentile of the data set
50%: the value of the middle of the data set
75%: the valye that falls beneath the 75th percentile of the data set 
max: the maximum value within your data set

Post-Lecture HW 
Question 7a) Provide an example of a "use case" in which using df.dropna() might be peferred over using del df['col']

A time where one may want to use df.dropna over using del df['col'] is when thy want their data set to be completely cleared and clean of any rows that have NaNs 
, this may be usefull for a system that cannot run or function properly when there is NANs in the data set 

Question 7b) Provide an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna()
using del df['col'] may be usefull over df.dropna when we are analyzing a certain data set and want to keep all of the columns for extra information when trying to analyze a data set, before running a certain function 

Question 7c)Discuss why applying del df['col'] before df.dropna() when both are used together could be important
Using del df'['col'] before applying df.dropna() will help preserve as much data as possible for analysis

Question 7d) Remove all missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.

In [55]:
import pandas as pd
import numpy as np

data = {
    'OrderID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, np.nan, 104, 105],
    'Product': ['Apples', 'Bananas', 'Oranges', 'Grapes', 'Pineapples'],
    'Quantity': [5, np.nan, 10, 7, 3],
    'Price': [1.50, 0.75, 2.00, np.nan, 3.00]
}

In [73]:
df = pd.DataFrame(data)
print(df)

   OrderID  CustomerID     Product  Quantity  Price
0        1       101.0      Apples       5.0   1.50
1        2       102.0     Bananas       NaN   0.75
2        3         NaN     Oranges      10.0   2.00
3        4       104.0      Grapes       7.0    NaN
4        5       105.0  Pineapples       3.0   3.00

In [74]:
clean_data = df.dropna()
print(clean_data)

   OrderID  CustomerID     Product  Quantity  Price
0        1       101.0      Apples       5.0    1.5
4        5       105.0  Pineapples       3.0    3.0

In [75]:
del df['Price']

In [76]:
print(df)

   OrderID  CustomerID     Product  Quantity
0        1       101.0      Apples       5.0
1        2       102.0     Bananas       NaN
2        3         NaN     Oranges      10.0
3        4       104.0      Grapes       7.0
4        5       105.0  Pineapples       3.0

In this case it is more helpful for me to only use df.dropna to drop certain rows in my data set, this way I can still keep some information about the columns with NaNs instead of losing the entire thing

In [97]:
import pandas as pd

# Load the dataset from the URL
new_fourth_url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'
dogs_df = pd.read_csv(url)
data = pd.read_csv(new_fourth_url)

In [103]:
print("\nMissing values in the dataset:")
print(dogs_df.isnull().sum())

Missing values in the dataset:
Index                0
 Height(Inches)"     0
 "Weight(Pounds)"    0
dtype: int64

In [98]:
print(dogs_df)

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

In [101]:
dog_stats = dogs_df.describe()

In [102]:
print(dog_stats)

            Index   Height(Inches)"   "Weight(Pounds)"
count  200.000000        200.000000         200.000000
mean   100.500000         67.949800         127.221950
std     57.879185          1.940363          11.960959
min      1.000000         63.430000          97.900000
25%     50.750000         66.522500         119.895000
50%    100.500000         67.935000         127.875000
75%    150.250000         69.202500         136.097500
max    200.000000         73.900000         158.960000

The reason the count value from df.describe is different from the count value using df.groupby("col1")["col2"].describe() is because the count value for the aforementioned code is only counting the number of non-null entries in relation to column two.

In [1]:
# Load the dataset from the URL
new_fourth_url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'
dogs_df = pd.read_csv(url)
data = pd.read_csv(new_fourth_url)

NameError: name 'pd' is not defined

In [15]:
import pandas as pd
new_data_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(new_data_url)
data = pd.read_csv(new_data_url)

In [12]:
titanic_df.groupby("col1")["col2"].describe()

KeyError: 'col1'

In [13]:
titanic_df.groupby("SSex")["age"].describe()

KeyError: 'SSex'

While intentionally adding in errors and using different engines, google vs chatbot, to introduce the issue and try to find the solution I found that it is much easier to use the chatbot because it can give solutions pertaining to your speicfic data sat and its memory can help provide solutions based on your previous questions

9. Have you reviewed the course wiki-textbook and interacted with a ChatBot (or, if that wasn't sufficient, real people in the course piazza discussion board or TA office hours) to help you understand all the material in the tutorial and lecture that you didn't quite follow when you first saw it?

somewhat

In [ ]:
Interaction Summary
Introduction to Data Handling: You asked about various pandas functions and how to manipulate DataFrames in Python.

Descriptive Statistics: You inquired about df.describe(), which provides statistical summaries of numerical columns in a DataFrame.

Handling Missing Data: We discussed functions like df.dropna() and how to manage missing values in your dataset.

Deleting Columns: You learned about deleting columns using del df['col'] and the syntax for deleting multiple columns.

Working with Datasets: You requested datasets, specifically a dog dataset with missing values accessible via a URL. We explored how to load a dataset using pd.read_csv().

Grouping Data: You asked about using df.groupby() to summarize data, and we discussed how to replace generic column names with actual names from your dataset.

Syntax Errors: You encountered a few errors (e.g., NameError, KeyError, SyntaxError), which we addressed by correcting the code snippets and ensuring proper syntax.

Final Example: We provided a final code example to load a Titanic dataset, inspect its columns, and group the data to generate descriptive statistics.

If you have any further questions or need clarification on any topic, feel free to ask!